.card-container {
    transition: all 0.25s linear;
}

.card-container:hover {
    transform: scale(1.1);
}

.card-img {
    width: 200px;
    height: 200px;
    border: solid white 2px;
}

.meal-btn{
    height: 30px;
    width: 60px;
    background-color: var(--color1);
    color: white;
    border: solid 3px var(--color3);
    border-radius: 10px;
}
.meal-btn:hover{
    border-color: white;
    cursor:pointer;
}